@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$primary: #7DB5BA;
$secondary: #B9E1EB;
$tertiary: #4E5E73;

/* General */

img, embed, object, video {
    max-width: 100%;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: Oswald;
    letter-spacing: 2px;
}

p {
    font-family: Raleway;
    letter-spacing: 1px;
}

/* Header */
.header {
    height: 100vh;
    background-color: $primary;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pexels-photo-378570.jpeg");
    background-repeat: no-repeat;
    background-position: 83% 85%;
    background-size: cover;

    @media screen and (max-width: 640px) {
        height: 100vh;
        background-color: $primary;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pexels-photo-378570.jpeg");
        background-size: cover;
    }
}

/* Navigation */
nav {
    li {
        display: inline-block;
    }

    a {
        color: white;
        padding: 14px 16px;
    }

    .button {
        color: #7DB5BA;
        margin: 10px;
        width: 60px; height: 35px;
        /* Logo */
        background-image: url("../img/HostHome_logo.png");
        background-position: center;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        /* Border Properties */
        border-radius: 2px;
        border-color: darken($color: #7DB5BA, $amount: 15%);
    }

}

/* Splash */

.splash {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;

    h1 {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    p {
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 40px;
        color: white;
    }

    .lead {
        margin-top: 60px;

        @media screen and (max-width: 640px) {
            margin-top: 40px;
        }
    }

    .button {
        height: 50px;
        margin: 0 auto;
        margin-top: 120px;
        background-color: $primary;
        border-color: darken($primary, 15%);
        position: relative;
        z-index: 100;
    }

    .btn.outline {
        background: none;
        padding: 12px 12px;
    }

    .btn-primary.outline {
	    border: 2px solid $primary;
        color: $primary;
    }

    .button:hover, .button:active {
        background-color: darken($primary, 15%);
        border-color: darken($primary, 30%);
    }

    h3 {
        text-align: center;
        margin: 0 auto;
        padding-top: 35%;

        @media screen and (max-width: 640px) {
            padding-top: 40%;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 15%;
        }
    }
}

.section_titles {
    text-align: center;
    padding-bottom: 25px;
}

/* Donor-Powered Airbnb */

.donor_powered_airbnb {
    padding-top: 40px;

    p {
        color: $primary;
    }
}

/* Services */
.services {
    padding: 40px 0;
    background-color: #F8F8F8;

    h1 {
        padding-bottom: 0;
    }

    i {
        color: $primary;
    }

    .icon-background {
        color: white;
    }

    .small-4 {
        width: 250px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;

        hr {
        width: 25%;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $primary;
        }
    }
}

/* Demo */

.demo {
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 640px) {
        width: 80%;
    }

    h1 {
        padding-bottom: 40px;
    }

    iframe {
        padding-bottom: 40px;
        width: 800px;
        height: 480px;

        @media screen and (max-width: 640px) {
            width: 80%;
        }
    }
}

/* Testimonial */

.testimonial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pexels-photo-398532.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 20%;
    background-color: $primary;
    height: 400px;
    padding: 40px 0;

    .grid-y {
        @media screen and (min-width: 1200px) {
            height: 250px;
        }

        @media screen and (max-width: 640px) {
            height: 250px;
        }
    }    

    @media screen and (max-width: 640px) {
        height: 350px;
    }

    p {
        text-align: center;
        color: white;
        width: 60%;
        margin: 0 auto;
        font-size: 18px;

        @media screen and (max-width: 640px) {
            width: 80%;
            font-size: 14px;
        }
    }

    .first {
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            margin-top: 30px;
        }
    }

    .second {
        @media screen and (max-width: 640px) {
            margin-bottom: 0;
        }
    }
}

/* As Seen In */
.as_seen_in {
    padding: 40px 0;
    background-color: #F8F8F8;

    @media screen and (max-width: 640px) {
        padding-bottom: 20px;
    }

    h1 {
        padding-bottom: 0;
    }

    i {
        color: $primary;
    }

    .icon-background {
        color: white;
    }

    .small-4 {
        width: 250px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;

        hr {
        width: 25%;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $primary;
        }

        img {
            height: 50px;

            @media screen and (max-width: 640px) {
                margin-bottom: 20px;
            }
        }
    }
}

/* Team */
.team {
    padding: 40px 0;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 640px) {
        padding: 10px 0 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: -60px;
    }

    h1 {
        margin-top: 25px;
        padding-bottom: 40px;

        @media screen and (max-width: 440px) {
            margin-top: 5px;
        }

        @media screen and (max-width: 640px) {
            padding-top: 35px;
        }
    }

    .small-4 {
        width: 250px;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;

        img {
            padding-bottom: 10px;
        }

        h4 {
            margin-bottom: 0;
        }
    }
}

/* Footer */
footer {
    background-color: #333;
    padding: 20px 0;
    color: white;
    margin: 0 auto;

    @media screen and (max-width: 640px) {
        margin: 0 auto;
        text-align: center;
    }
}